.card {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(27, 197, 78);
  }
  
  .card-rank {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-suit {
    font-size: 18px;
  }
  